<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-snotify@3.2.0/styles/material.css" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>

    <div id="app">
            <vue-snotify></vue-snotify>
        <div class="container">
            
            <div class="row p-4">
                <div class="col-sm-12 mt-2 mb-2">
                    <h2>Mantenimento básico</h2>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" v-model="model.Name"/>

                    </div>
    
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input class="form-control" type="text" v-model="model.Code"/> 

                    </div>
    
                </div>
                <div class="col-sm-12 mt-2 mb-2">
                    <button class="btn btn-primary mr-2 ml-2" @click="saveOrUpdate">Guardar</button>
                    <button class="btn btn-danger mr-2 ml-2" v-if="model.Id" @click="cleanModel">Cancelar</button>
            
                </div>
                <div class="col-sm-12 mt-2 mb-2">
                    <h2>Entidades</h2>
                        <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody> 
                                  <tr v-for="(entity,index) in entities">
                                    <th scope="row">{{entity.Id}}</th>
                                    <td>{{entity.Name}}</td>
                                    <td>{{entity.Code}}</td>
                                    <td><button @click="edit(entity)" class="btn btn-sm btn-warning">Editar</button> <button @click="deleteEntity(entity)" class="btn btn-danger btn-sm">Borrar</button></td>
                                  </tr>
                                </tbody>
                              </table>
                </div>
            </div>
    
        </div>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-snotify@latest/vue-snotify.min.js"></script>

    <script>
        //Vue.config.devtools = true
        var vm = new Vue(
            {el:'#app',
            data:{
            model: {Id:undefined,Name:null, Code:null},
            apiUrl: "http://localhost:54416/api/NameCodes/",
            entities: []
            },  
            methods: {
                getData: function(){
                    axios.get(this.apiUrl).then((response)=>{
                        this.entities = response.data;
                    }).catch((error)=>{
                        this.$snotify.error('Error');
                    })
                },
                saveOrUpdate: function(){
                    if(this.model.Id){
                         axios.put(this.apiUrl + this.model.Id, this.model).then(()=>{
                            this.$snotify.success('Editado correctamente');
                             this.getData();
                             this.cleanModel();
                         }).catch(()=>{
                            this.$snotify.error('Error');
                         })
                    }else{
                        axios.post(this.apiUrl, this.model).then((response)=>{
                            this.$snotify.success('Guardado correctamente');
                            this.getData();
                            this.cleanModel();
                            
                        }).catch((error)=>{
                            this.$snotify.error('Error');
                        })
                    }

            },
            cleanModel:function(){
                this.model.Id = undefined;
                this.model.Name = null;
                this.model.Code = null;
            },
            edit: function(entity){
                    this.model.Id =  entity.Id;
                    this.model.Name =  entity.Name;
                    this.model.Code =  entity.Code;

            },
            deleteEntity: function(entity){
                
                if(confirm("Esta seguro que desea eliminar el registro?")){
                   axios.delete(this.apiUrl + entity.Id).then(()=>{
                    this.$snotify.success('Borrado correctamente');
                      
                       this.getData();
                       this.cleanModel();

                   }).catch(()=>{

                       this.$snotify.error('Error');
                   }) 
                }
            }

        },
        mounted:function(){
            this.getData();
        }})

        Vue.config.devtools = true

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>